/* THEME: MATRIX / HIGH CONTRAST */

body[data-theme="matrix"] {
    --color-bg: #000000;
    --color-surface: #0d0d0d;
    --color-header-bg: #000000;
    --color-nav-bg: #111111;
    --text-main: #00ff00; /* Alles Terminal-Grün */
    --text-muted: #008f00;
    --text-light: #00ff00;
    --color-accent: #00ff00;
    --color-accent-dim: #003300;
    --shadow-metallic: 0 0 10px #00ff00; /* Radioaktives Leuchten */

    --font-stack: 'Courier New', Courier, monospace; /* Terminal Font überall */
}

    /* Matrix spezifische Overrides */
    body[data-theme="matrix"] .dash-card {
        border: 1px solid #00ff00;
        border-top: 1px solid #00ff00;
    }

    body[data-theme="matrix"] .nav-btn.active {
        background-color: #000;
        color: #00ff00;
        border-bottom: 2px solid #00ff00;
    }
